/* Write your CSS here */
.items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
}
.name-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-head {
  color: #171f46;
  font-family: 'roboto';
}
.time-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  margin-right: 3px;
}
.time {
  color: #171f46;
  font-family: 'roboto';
  font-weight: 600;
}
.description {
  color: #171f46;
  font-family: 'roboto';
  font-weight: 400;
  margin: 0px;
}
.tag-list-container {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 0px;
}
.tag-item {
  color: #171f46;
  font-family: 'roboto';
  background-color: ##ffffff;
  font-weight: bold;
}
