/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  color: #171f46;
  font-family: 'roboto';
  font-weight: 600;
}
.d-head {
  color: #171f46;
  font-family: 'roboto';
  font-weight: 600;
}
